matplotlib==3.8.2
colorama==0.4.6
langchain==0.3.9
langchain-core==0.3.21
langchain-fireworks==0.2.5
langchain-community==0.3.8
langchain_chroma==0.1.4
langgraph==0.2.53
python-dotenv==1.0.1
google-api-python-client==2.154.0
youtube-transcript-api==0.6.3
tqdm==4.66.6
pydantic==2.9.2
Pillow==11.0.0
